.defaultdiv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: black;
    text-decoration: underline;  
}

.list{
    font-style: italic;
    color: white;
    
}

.video {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

body{
    background-color: rgb(20, 100, 100);
    color: black
}



